

body{
  background-color:lightcyan;
}

.HomeIntroSection{
    display: flex; 
    flex-direction: row;
}

.introduction{
    /* background-color: rgb(125, 216, 216); */
    border: 1px;
    width: 50%;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    margin: 20px;
    padding: 20px;
    line-height: 1.2;
    border-color: blueviolet;
    border-width: 2px;
    /* border-style: dashed; */
}
h1 {
    text-shadow: 2px 2px 5px red;
  }

.HomeMenu{
    display: flex;
    background-color: aqua;
    width: 100%;
    justify-content: space-between;
    margin: 1px; 
    position:fixed;
   
}

.navmenu{
    display: flex;
    gap:16px;
   justify-content: center;
   list-style: none;
   margin-right: 40px;
   color: black;
}
#logo{
    display: flex;
    gap:16px;
    list-style: none;
}
.homeImg{
    /* width: 100%; */
    margin: 50px;
    width: 650px;;
    justify-content: center; 
    background-image: url("https://source.unsplash.com/1600x1000/?health") ;
    background-repeat: no-repeat; 
    /* background-size:cover; */
    /* background-position:center;
    align-items:flex-end;
    margin: 200px;
    vertical-align: top; */
    
    


}
.services-card{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;  
    align-items: flex-end;

}

.desc{
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
}


.TodaysPoll{
    background-color: rgb(209, 222, 197);
    margin: 20px;
    padding: 20px;
}

.title{
    text-align: center;
}

.leftmenuBlogs{
    border-style:double;
    list-style: none;
    /* background-color:lightyellow; */
    height: auto;
    width: fit-content;
    text-align: center;
    margin-top: 100px;
    border:cyan;
    
}
.menupadding{
    margin: 10px;
    padding: 10px;
    text-align: center;
    background-color: bisque;
    
}

/* .card-img{
    width: 300px;
    margin:30px auto;
    padding: 8px;
    border:1px solid lightgray;
    border-radius: 14px;
    position: relative;
    top: 10px;
}

.servicesCard{
    width: 300px; 
    padding: 5px;
    background-color: aqua;  
    align-items: center;
    
} */

/* unvisited link */
a:link{
    color: black;
    
  }
  
  /* visited link */
  a:visited {
    color: green;
  }
  
  /* mouse over link */
  a:hover {
    color: hotpink;
    background-color: yellow;
  }
  
  /* selected link */
  a:active {
    color: blue;
    background-color: yellow;
  }

  a{
    outline: none;
  }

  .footer{
    /* background-color:rgb(198, 212, 188); */
    height: 200px;
    border-style:ridge;
    width:100%
    
  }

  .Post{
    display:none;
  }

  .Post li:hover {
    display: block;
    color: coral;
  }


  .servicesCard{
    width: 260px;
    border-radius: 14px;
    padding: 8px;
    border: 1px solid lightgray;
  }

  .scard-img{
    width: 100%;
    border-radius: 14px 14px 0 0 ;
  }

  .scardbody{
    padding: 8px;
  }

  .services{
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    justify-items: center;
    /* width: 500px; */

  }

  .searchhome{
    /* justify-content: center; */
    margin-top:10px;
    display: flex;
    gap:10px;
  }

  .searchbox{
    width: 400px;
    height: 30px;
    border-radius: 5px;
}
.SearchBtn{
  /* position: fixed; */
  top: 5px;
  background-color: aquamarine;
  /* padding: 5px 5px; */
  border-radius: 10px;
  font-size: 15px;
  /* margin-bottom: 5px; */
 
}
.SubHeader{
  display: none;
  list-style: none;
}
.subreciepies:hover>.SubHeader{
  display: block;


}
